body {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    padding: center;
    background-color: #f4f4f4;
    color: #333;
    margin-top: 100px;
}


h1 {
    font-size: 2.5em;
    margin: 0;
    margin-top: 100px;
    color: black;
}

h2 {
    font-size: 2em;
    margin: 0;
    display: flex;
    justify-content: center;
    color: black;
}


h3 {
    font-size: 1,2em;
    margin: 20px;
    justify-content: center;
    display: flex;

}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.menubuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: 50px;
}

#menubuttons button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 300px;
    height: 45px;
    
}

#menubuttons button:hover {
    background-color: #0056b3;

    gap: 20px; 
    margin-top: 50px;
}

.menubuttons a { 
    text-decoration: none; 
    background-color: #8e9499; 
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.menubuttons li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menubuttons a:hover {
    background-color: #8f9faf; 
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }


    .menubuttons {
        flex-direction: column;
        gap: 10px;
    }


    .menubuttons a {
        width: 100%;
        max-width: 300px;
    }
}