body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 100;
    
}
  

header {
    background-color: #ad8c8c;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    color: #007acc;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #b69191;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #777;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #007acc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}